<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Icube_Brandscustom>
            <version>0.1.0</version>
        </Icube_Brandscustom>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Icube_Brandscustom before="Belvg_Brands">Icube_Brandscustom_Adminhtml</Icube_Brandscustom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <resources>
            <icube_brandscustom_setup>
                <setup>
                    <module>Icube_Brandscustom</module>
                </setup>
            </icube_brandscustom_setup>
        </resources>
    </global>
</config>